---
import LayoutHome from "../layouts/LayoutHome.astro";
import Services from "../components/Services.astro";
---

<LayoutHome title="Home | Papa Muda Software">
  <main><Services /></main>
</LayoutHome>
