---
import Navbar from "../components/Navbar";
import LottieAnimation from "astro-integration-lottie/Lottie.astro";

import { Image } from "astro:assets";
import logo from "../assets/logo-papa-muda.png";

import "@fontsource/poppins";
import "@fontsource/inter";
import Footer from "../components/Footer.astro";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <!-- Header including navbar and hero section -->
    <header class="bg-white dark:bg-gray-900">
      <Navbar client:idle>
        <Image slot="logoImg" src={logo} height={80} alt="Logo Papa Muda" />
      </Navbar>

      <div class="container px-6 pb-16 mx-auto">
        <div class="items-center lg:flex">
          <div class="w-full lg:w-1/2">
            <div class="lg:max-w-lg">
              <h1
                class="text-3xl font-semibold text-gray-800 dark:text-white lg:text-4xl"
              >
                Bertumbuh bersama
                <span class="text-orange-700">Papa</span>
              </h1>

              <p class="mt-3 text-gray-600 dark:text-gray-400">
                Kembangkan kebutuhan bisnis serta kinerja usaha anda dengan
                memanfaatkan teknologi informasi bersama kami.
              </p>

              <button
                class="w-full px-5 py-2 mt-6 text-sm tracking-wider text-white uppercase transition-colors duration-300 transform bg-blue-600 rounded-lg lg:w-auto hover:bg-blue-500 focus:outline-none focus:bg-blue-500"
              >
                Portofolio Kami
              </button>
            </div>
          </div>

          <!-- <div class="w-full mt-6 lg:mt-0 lg:w-[600px] h-[300px] bg-red-300"> -->
          <div class="w-[640px] h-[400px]">
            <LottieAnimation
              src="https://lottie.host/89401cef-c063-41d5-b6fc-1a5df6f82660/bdBWpTHaZY.json"
              autoplay="visible"
              player="light"
            />
          </div>
        </div>
      </div>
    </header>

    <slot />

    <Footer />
  </body>
</html>
